.what-wrapper{
    @apply mx-auto px-8 lg:px-12 py-12 shadow-lg relative  -mt-56 z-20 bg-white w-11/12  md:w-11/12 sm:w-11/12
}
.what-items{
    @apply mx-5 my-5 font-persian flex flex-col border-gray-500 items-center md:mx-0 sm:mx-1
}
.img-do{
    @apply h-32 w-32 
}
.what-items h3{
    @apply font-persian text-center font-black text-lg md:text-base
}
.btn-more{
    @apply flex font-semibold  h-10 py-6 px-6  items-center justify-center rounded-xl w-auto shadow-lg uppercase    
    text-sm sm:text-base mt-2 hover:bg-blue-400 hover:text-white transform transition md:text-sm
}