.header-row{
   @apply flex items-center h-20 max-w-full mx-auto relative   flex-row  justify-around
}

.nav-menu{
    @apply hidden sm:inline-block align-top  mt-6 mr-12
}
.nav-menu-wrapper{
    @apply sm:text-xs md:text-base list-none leading-5 font-persian text-white flex flex-row items-center justify-center
}
.nav-menu-wrapper li{
    margin-right: 15px;
}