.what-done-wrapper{
    @apply mx-auto px-8 lg:px-12 py-12 relative  w-11/12  md:w-11/12 sm:w-full 
}
.project-item{
    @apply px-3 py-3 flex items-center justify-center shadow-lg
}
.features{
    @apply px-3 py-3 flex flex-col items-start 
}
.icon{
    @apply mb-3 px-4 py-4 rounded-xl shadow-md
}
.icon.blue{
    background: #007aff;
    box-shadow: 0 3px 15px rgb(0 122 255 / 50%);
}
.icon.red {
    background: #ff2d55;
    box-shadow: 0 3px 15px rgb(255 45 85 / 50%);
}
.icon.purple {
    background: #9013fe;
    box-shadow: 0 3px 15px rgb(144 19 254 / 50%);
}
.icon.green {
    background: #4cd964;
    box-shadow: 0 3px 15px rgb(76 217 100 / 50%);
}
.icon.teal {
    background: #1f9fc2;
    box-shadow: 0 3px 15px rgb(31 159 194 / 50%);
}
.icon.orange {
    background: #ff9500;
    box-shadow: 0 3px 15px rgb(255 149 0 / 50%);
}
.icon.gray {
    background: #3e5066;
    box-shadow: 0 3px 15px rgb(62 80 102 / 50%);
}
.features h3{
    @apply font-persian font-extrabold text-xl mb-2 
}
.features p{
    @apply text-gray-400 font-persian font-normal text-base text-justify 
}
.about-us{
    @apply flex flex-col items-start
}
.about-us h2{
    color: #007aff;
    @apply font-persian text-3xl font-black relative mt-4 mb-4
}
.about-us h2::after{
    position: absolute;
    right: 0;
    bottom: -10px;
    display: inline-block;
    width: 40px;
    height: 5px;
    content: "";
   
    border-radius: 5px;
    background: #fc0;
}
.content{
    @apply font-persian mt-4 text-gray-400 text-justify sm:leading-9
}
.tools{
    @apply mb-3 px-4 py-4 rounded-md shadow-lg mt-5 flex justify-center items-center
}
.contact-item{
    @apply flex flex-col justify-start items-center
}
.contact-item .text{
    color: #3e5066;
    @apply text-sm text-center
}
.footer-wrapper{
    @apply flex flex-col sm:flex-row justify-between items-center
}
.social{
    @apply flex flex-col mt-5 sm:mt-0 sm:flex-row justify-around items-center
}
.social span{
    @apply mx-3 text-white font-persian mt-5 sm:mt-0
}
.features img{
    @apply w-32 h-32
}
.tools img {
    @apply h-32
}
.contact-item img{

    @apply w-8 h-8
}