.row{
    direction: rtl;
    @apply w-11/12 mx-auto
}
.btn{
    @apply inline-block   focus:outline-none
    px-2 py-3 rounded-sm shadow-lg uppercase  tracking-wider font-semibold text-sm sm:text-base
}